{% comment %}
Note: Please do not remove or make any changes in this div because this div is used to load products comparison.
{% endcomment %}

<style>
div#SP_CmpHtml {
    padding: 0 24px;
}



.sp_compare_tbl .sp_product {
    display: flex !important;
}

.sp_product ul.sp_product_con {
    display: flex !important;
    flex-direction: column;
    width: inherit;
}

ul.sp_product_heading {
    display: grid;
}

ul.sp_product_heading li,
ul.sp_product_con li {
    order: 30;
}

ul.sp_product_heading li.sp_image,
ul.sp_product_con li.sp_image {
    order: 1;
}

ul.sp_product_heading li.sp_title,
ul.sp_product_con li.sp_title {
    order: 2;
}

ul.sp_product_heading li.sp_price,
ul.sp_product_con li.sp_price {
    order: 3;
}

ul.sp_product_heading li.sp_var_title,
ul.sp_product_con li.sp_var_title {
    order: 4;
}

ul.sp_product_heading li.sp_Profile,
ul.sp_product_con li.sp_Profile.same_cl {
    order: 5;
}

ul.sp_product_heading li.sp_Feel,
ul.sp_product_con li.sp_Feel.same_cl {
    order: 6;
}

ul.sp_product_heading li.sp_ptype,
ul.sp_product_con li.sp_ptype {
    order: 7;
}

ul.sp_product_heading li.sp_desc,
ul.sp_product_con li.sp_desc {
    order: 8;
}

ul.sp_product_heading li.sp_Comfort,
ul.sp_product_con li.sp_Comfort {
    order: 9;
}

ul.sp_product_heading li.sp_Support,
ul.sp_product_con li.sp_Support {
    order: 10;
}

ul.sp_product_heading li.sp_System,
ul.sp_product_con li.sp_System {
    order: 11;
}

ul.sp_product_heading li.sp_Cover,
ul.sp_product_con li.sp_Cover {
    order: 12;
}

ul.sp_product_heading li.sp_Quality,
ul.sp_product_con li.sp_Quality {
    order: 13;
}

ul.sp_product_heading li.sp_OtherFeatures,
ul.sp_product_con li.sp_OtherFeatures {
    order: 14;
}

</style>

<div id="SP_CmpHtml"></div>